body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/tareas_LMI_EDD/docs/recursos/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
    z-index: -1;
}