{% extends "base.html" %}
{% block content %}
<style>
    .encabezado-centrado-container {
        display: flex;
        align-items: center; /* Alinea verticalmente el contenido */
        justify-content: center; /* Centra horizontalmente el texto */
    }

    .encabezado-centrado {
        text-align: center; /* Alinea el texto dentro del contenedor */
        margin: 0 20px; /* Espaciado lateral para separar texto de las imágenes */
    }

    .imagen {
        width: 100px; /* Ajusta el tamaño de las imágenes */
        height: auto; /* Mantiene la proporción */
    }
</style>
<div class="encabezado-centrado-container">
    <img src="../docs/recursos/EDD.png" alt="EDD" class="imagen">
    <div class="encabezado-centrado">
        <h1>DAM<br><small>Desarrollo de Aplicaciones Multiplataforma<br>Andy Pérez Rondón</small></h1>
    </div>
    <img src="../docs/recursos/LMI.png" alt="LMI" class="imagen">
</div>
<hr>
{{ super() }}
{% endblock %}


