body {
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-top: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: #14171A;
    color: #E1E8ED;
}

table, th, td {
    border: 1px solid; 
    border-collapse: collapse;
}

caption {
    padding: 10px;
    text-decoration: underline;
}

/* Tabla */
td {
    padding: 20px;
    font-weight: normal;
    background-color: slategrey;
}

/* Días */
th {
    font-weight: bolder;
    background-color: slategrey;
}

/* Horas */
.Hora {
    font-weight: bolder;
    background-color: slategrey;
}

/* Asignaturas */
    .LMI {
        background-color: cadetblue;
    }

    .SI {
        background-color: chocolate;
    }

    .EDD {
        background-color: olive;
    }

    .PRG {
        background-color: mediumslateblue;
    }

    .Inglés {
        background-color: firebrick;
    }

    .BD {
        background-color: darkseagreen;
    }

    .PROJ {
        background-color: cornflowerblue;
    }

    .IPO {
        background-color: darkslategrey;
    }

    .Patio {
        font-size: 30px;
        font-weight: bolder;
        background-color: royalblue;
    }